<template name='comment'>
    <head>
      <title>iDebate</title>
    </head>
    
    <body>
      <p>{{ category }}</p>  
      <h1 style="margin-top: 10px;">{{ channel }}</h1>
      <p>Time Remaining</p>
      <h1>{{ comment_timer }}</h1>
      {{> messages }}
      {{#if submitted }}
        <h1>Message submitted!</h1>
      {{else}}
        {{> input }}
      {{/if}}
      <a href="https://cs160-project-idebate-qalu.c9users.io/topics">Back to Topics.</a>
    </body>


</template>

<template name="input">
  <p>Message: <input type="text" id="message"></p>
</template>

<template name="messages">
  {{#each messages}}
    <div class="message-box"><strong>{{owner}} :<br></strong> {{message}}<br><br></div>
    
  {{/each}}
</template>

<template name="welcome">
  <p>
    Let's chat.
  </p>
</template>
    
