<template name="topics">
    <h2>Topics</h2>
    
    <div id="topic-list">
        <table style="width: 100%; border: 0px;">
            <tr>
                <th>Category</th>
                <th>Topic</th>
                <th>Number of Participants</th>
                <th>Time Remaining</th>
            </tr>
            <tr>
                <td>Immigration</td>
                <td>Should the US build a wall on the Mexican border?</td>
                <td>9</td>
                <td><span id="time">10:00</span></td>
            </tr>
            <tr>
                <td>Gun Control</td>
                <td>Do we need stricter background checks for gun purchases?</td>
                <td>15</td>
                <td><span id="time">10:00</span></td>
            </tr>
        </table>
    </div>
</template>