<template name="topics">
    <h2>Topics</h2>
    
    <div id="topic-list">
        <table style="width: 100%; border: 0px;">
            <tr>
                <th>Category</th>
                <th>Topic</th>
                <th>Number of Participants</th>
                <th>Time Remaining</th>
            </tr>
            <tr>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Immigration&channel=Should%20the%20US%20build%20a%20wall%20on%20the%20Mexican%20border?">Immigration</a></td>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Immigration&channel=Should%20the%20US%20build%20a%20wall%20on%20the%20Mexican%20border?">Should the US build a wall on the Mexican border?</a></td>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Immigration&channel=Should%20the%20US%20build%20a%20wall%20on%20the%20Mexican%20border?">9</a></td>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Immigration&channel=Should%20the%20US%20build%20a%20wall%20on%20the%20Mexican%20border?"><span id="time">{{topic_timer}}</span></a></td>
            </tr>
            <tr>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Gun%20Control&channel=Do%20we%20need%20stricter%20background%20checks%20for%20gun%20purchases?">Gun Control</a></td>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Gun%20Control&channel=Do%20we%20need%20stricter%20background%20checks%20for%20gun%20purchases?">Do we need stricter background checks for gun purchases?</a></td>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Gun%20Control&channel=Do%20we%20need%20stricter%20background%20checks%20for%20gun%20purchases?">15</a></td>
                <td><a href="https://cs160-project-idebate-qalu.c9users.io/comment?category=Gun%20Control&channel=Do%20we%20need%20stricter%20background%20checks%20for%20gun%20purchases?"><span id="time">{{topic_timer}}</span></a></td>
            </tr>
        </table>
    </div>
</template>